#hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #272727;
}

#titles-container {
  width: 50%;
  display: flex;
  justify-content: end;
  align-self: center;
}

#titles-wrapper {
  width: 85%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 60px;
  margin-bottom: 0.4em;
}

#hero h2 {
  margin-bottom: 1.6em;
  font-weight: 350;
}

#cta-button {
  width: 380px;
  height: 80px;
  font-size: 20px;
  margin-bottom: 2em;
}

#social-prove-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.social-prove-items {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(36, 36, 36, 0.7);
  border: 2px solid #272727;
}

.plus {
  color: #fc4664;
  font-size: 80px;
}

.social-prove-items p {
  font-size: 20px;
}

.social-prove-items span {
  color: #6320ee;
  font-weight: bold;
}

#image-container {
  display: flex;
  width: 50%;
  justify-content: center;
  background-image: url("/blob-haikei.svg");
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center;
}

#image-container-img {
  object-fit: cover;
}

.degrade-1 {
  background: linear-gradient(
    90deg,
    rgba(248, 247, 255, 1) 37%,
    rgba(252, 70, 100, 1) 72%,
    rgba(252, 70, 100, 1) 94%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.degrade-2 {
  color: #fc4664;
}

.degrade-3 {
  background: linear-gradient(
    90deg,
    rgba(252, 70, 100, 1) 22%,
    rgba(99, 32, 238, 1) 41%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.degrade-4,
.degrade-5 {
  color: #6320ee;
}

/* smaller desktops */
@media (max-width: 1600px) {
  #titles-wrapper {
    width: 90%;
  }

  #social-prove-container {
    width: 100%;
    padding: 4px;
  }

  .social-prove-items p {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  #titles-wrapper {
    width: 95%;
    min-height: fit-content;
  }

  #hero h1 {
    font-size: 54px;
    margin-top: .4em;
  }

  #hero h2 {
    font-size: 24px;
  }

  #image-container {
    width: 42%;
  }

  #social-prove-container {
    width: 100%;
    justify-content: start;
  }

  .social-prove-items {
    height: 80px;
    gap: 5px;
  }
}

/* tablet */
@media (max-width: 1024px) {
  #hero {
    flex-direction: column;
    height: 100vh;
  }

  #titles-container {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  #titles-wrapper {
    width: 90%;
    height: 100%;
    padding: 3.5em 20px 20px 20px;
  }

  #hero h1 {
    font-size: 42px;
    margin-bottom: 0.2em;
  }

  #hero h2 {
    font-size: 22px;
    margin-bottom: 1.2em;
  }

  #cta-button {
    width: 370px;
    height: 75px;
    font-size: 20px;
    margin-bottom: 1em;
  }

  #image-container {
    width: 100%;
    height: 50%;
    background-size: 65%;
  }
}

/* smartphones */
@media (max-width: 600px) {


  #hero {
    min-height: 150vh;
  }

  #titles-container {
    justify-content: center;
    min-height: 90vh;
    padding-left: 1em;
    overflow: visible;
  }

  #titles-wrapper {
    width: 100%;
    padding: 0;
  }

  #hero h1 {
    font-size: 38px;
  }

  #hero h2 {
    font-size: 20px;
  }

  #cta-button {
    width: 92%;
    font-size: 18px;
    font-weight: 800;
  }

  #social-prove-container {
    align-items: start;
    flex-direction: column;
  }

  .social-prove-items {
    width: 90%;
    justify-content: space-around;
  }

  .plus {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .social-description {
    width: 70%;
  }

  .social-description p {
    font-size: 18px;
  }

  #image-container {
    height: 50vh;
    background-size: 400px;
  }

  #image-container img {
    object-fit: cover;
    width: 92%;
  }
}

@media (max-height: 799px) {
  #hero {
    min-height: fit-content;
  }

  #titles-container {
    min-height: fit-content;
  }

  #image-container {
    min-height: 300px;
  }
}

/* resolution 1:1 */
@media(min-height: 800px) and (min-width: 600px) and (max-width: 1000px) {
  #titles-container {
    min-height: fit-content;
  }

  #image-container {
    background-size: 400px;
  }
}
